.night-city {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.night-city .moon {
    width: 13vh;
    height: 13vh;
    border-radius: 50%;
    background: #FEF9A7;
    position: absolute;
    left: 23.2vh;
    top: 13vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    z-index: 1000;
}
.night-city .cloud {
    width: 20vh;
    height: 4vh;
    border-radius: 5vh;
    background: #343a3e;
    position: absolute;
    left: 22vh;
    top: 21vh;
    box-shadow: 0 0 10px #343a3e,
                0 0 20px #343a3e,
                0 0 40px #FAC213;
    z-index: 1001;
}
.night-city .cloud::before {
    content: '';
    width: 6.8vh;
    height: 6.8vh;
    border-radius: 50%;
    background: #343a3e;
    position: absolute;
    left: 3.7vh;
    top: -4vh;
    box-shadow: 0 0 10px #343a3e,
                0 0 20px #343a3e;
}
.night-city .cloud::after {
    content: '';
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background: #343a3e;
    position: absolute;
    left: 10vh;
    top: -3vh;
    box-shadow: 0 0 10px #343a3e,
                0 0 20px #343a3e;
}

.night-city .img {
    position: relative;
    width: 160vh;
    height: 100vh;
    background-image: url('../img/nightCity.png');
    background-size: cover;
    z-index: 1000;
}
.night-city .img .windows i:nth-child(1) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 25vh;
    top: 74vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight1 10s linear infinite;
}
.night-city .img .windows i:nth-child(2) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 54vh;
    top: 73vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight2 10s linear infinite;
}
.night-city .img .windows i:nth-child(3) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 52.2vh;
    top: 73vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight1 10s linear infinite;
    animation-delay: 0.03s;
}
.night-city .img .windows i:nth-child(4) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 104vh;
    top: 76vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight3 10s linear infinite;
}
.night-city .img .windows i:nth-child(5) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 133.2vh;
    top: 76.3vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight4 10s linear infinite;
}
.night-city .img .windows i:nth-child(6) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 26.8vh;
    top: 75.8vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight4 10s linear infinite;
}
.night-city .img .windows i:nth-child(7) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 41vh;
    top: 74.6vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight2 10s linear infinite;
}
.night-city .img .windows i:nth-child(8) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 41vh;
    top: 76.6vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight1 10s linear infinite;
}
.night-city .img .windows i:nth-child(9) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 50vh;
    top: 76.6vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight1 10s linear infinite;
}
.night-city .img .windows i:nth-child(10) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 65.5vh;
    top: 75vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight2 10s linear infinite;
}
.night-city .img .windows i:nth-child(11) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 100.5vh;
    top: 78vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight1 10s linear infinite;
}
.night-city .img .windows i:nth-child(12) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 90.5vh;
    top: 78vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight3 10s linear infinite;
}
.night-city .img .windows i:nth-child(13) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 92.5vh;
    top: 81vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight1 10s linear infinite;
}
.night-city .img .windows i:nth-child(14) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 94.5vh;
    top: 81vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight4 10s linear infinite;
}
.night-city .img .windows i:nth-child(15) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 67.7vh;
    top: 81vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight4 10s linear infinite;
}
.night-city .img .windows i:nth-child(16) {
    width: 1.2vh;
    height: 1.2vh;
    background: #F4E06D;
    position: absolute;
    left: 67.7vh;
    top: 79vh;
    box-shadow: 0 0 10px #FAC213,
                0 0 20px #FAC213,
                0 0 40px #FAC213;
    animation: turnLight1 10s linear infinite;
}
@keyframes turnLight1 {
    0%, 10.1%, 70%, 90.1%, 100% {
        transform: scale(0);
    }
    0.1%, 10%, 70.1%, 90% {
        transform: scale(1);
    }
}
@keyframes turnLight2 {
    20.1%, 35%, 80.1%, 100% {
        transform: scale(0);
    }
    0%, 20%, 35.1%, 80% {
        transform: scale(1);
    }
}
@keyframes turnLight3 {
    0%, 15%, 30.1%, 60%, 90.1%, 100% {
        transform: scale(0);
    }
    15.1%, 30%, 60.1%, 90% {
        transform: scale(1);
    }
}
@keyframes turnLight4 {
    0%, 5%, 25.1%, 30%, 85.1%, 100% {
        transform: scale(0);
    }
    5.1%, 25%, 30.1%, 85% {
        transform: scale(1);
    }
}

.night-city .stars i {
    position: absolute;
    background: #FCD900;
    border-radius: 50%;
    box-shadow: 0 0 10px #FFFBE7,
                0 0 20px #FFFBE7;
    animation: twinkle linear infinite;
}
@keyframes twinkle {
    0%, 1.1%, 3%, 7.1%, 25%, 35.1%, 55%, 75.1%, 82%, 89.1%, 100% {
        transform: scale(0);
    }
    0.1%, 1%, 3.1%, 7%, 25.1%, 35%, 55.1%, 75%, 82.1%, 89% {
        transform: scale(1);
    }
}