@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&family=Signika:wght@300;400;500;600;700&display=swap');
/* font-family: 'Signika', sans-serif; */
/* font-family: 'Asap', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #232526, #414345);
    font-family: 'Signika', sans-serif;
}

.background {
    position: absolute;
}

.hidden {
    display: none;
}

.done {
    text-decoration: line-through;
    pointer-events: none;
    color: #414345;
}

.icon {
    cursor: pointer;
}